<div class="side-bar">
    <div><em class="uil uil-ellipsis-h"></em></div>
    <ul class="side-bar__list list-one">
        <li [routerLink]="item.router" *ngFor="let item of menusRoute">
            <div class="list-wrapper-item">
                <em [ngClass]="['uil',item.icon]"></em>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator"></div>
    <ul class="side-bar__list list-two">

    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-three">
        <div style="cursor: pointer;" [routerLink]="'auth/login'">
            <i class="uil uil-signout"></i> Cerrar sesión

        </div>
    </ul>
</div>